html{
    height:100%;
    background: radia-gradient(circle, #fff, #ccc);
}
.container{
    margin: 2rem auto;
}

#content {
    background: url(mathbg.jpg);
    background-color: #9dd2ea;
    margin: auto;
    padding:5rem 0 ;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #009de4;
/*    position: relative;*/
}
/*
box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]
*/

#score{
    background-color: #f1ff92;
    color: #888e5f;
    padding: 10px;
    text-align: center;
/*    position: absolute;*/
/*    left:450px;*/
    box-shadow: 0px 4px #9da853;
    -moz-box-shadow: 0px 4px #9da853;
    -webkit-box-shadow: 0px 4px #9da853;
    -o-box-shadow: 0px 4px #9da853;
    -ms-box-shadow: 0px 4px #9da853;
}

#correct {
/*
    position: absolute;
    left: 260px;
*/
    background-color: #42e252;
    color: white;
    padding: 10px;
    display: none;
}

#wrong {
/*
    position: absolute;
    left: 250px;
*/
    background-color: #de401a;
    color: white;
    padding: 10px;
    display: none;
}

#question {
/*    width: 450px;*/
    height: 10rem;
    margin: 50px auto 10px auto;
    background-color: #9da0ea;
    box-shadow: 0px 4px #535aa8;
    font-size: 7rem;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8154a8;
    -moz-box-shadow: 0px 4px #8154a8;
    -webkit-box-shadow: 0px 4px #8154a8;
}

#choices{
    height: 92px;
    width:450px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height:85px;
    background-color: white;
    float: left;
    margin-right: 35px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover {
    background-color: #9c89f6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    -o-box-shadow: 0px 4px #6b54d3;
    -ms-box-shadow: 0px 4px #6b54d3;
}

.box:active, #startreset:active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    -o-box-shadow: 0px 0px #6b54d3;
    -ms-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#box4{
    margin-right: 0;
}

#startreset{
/*    width: 90px;*/
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#timeremaining {
/*
    width: 150px;
    position: absolute;
    top: 395px;
    left: 390px;
*/
    padding:10px 0;
    background-color: rgba(181,235,36,0.8);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
/*    visibility: hidden;*/
    display:none;
}

#gameover{
/*    height: 10rem;*/
/*    width: 500px;*/
    background: linear-gradient(#f3c27b, #f3706c);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10rem;
/*    left: 45px;*/
    z-index: 2;
    display: none;
}